.typewriter {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #000000;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #000000; }
}
